@import url("https://fonts.googleapis.com/css2?family=Notable&family=Padauk:wght@400;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

body,
html {
  margin: 0;
  padding: 0;
  background-color: #ecedef;
  font-family: "Padauk", sans-serif;
  position: relative;
}
.nav-links {
  gap: 100px;
  a {
    text-decoration: none;
    color: #000000;
    font-size: 17px;
    text-transform: uppercase;
    font-family: "Notable", sans-serif;
  }
}
.side-nav {
  position: fixed;
  height: 100%;
  left: 10px;
  gap: 50px;
  :hover {
    transition: all 0.4s ease;
    padding-left: 5px;
  }
}
.wrapper {
  /* margin-right: 0 !important; */
  margin-right: 0 !important;
  height: 90vh;
  h1 {
    color: #dd4321;
    height: 80px;
    width: auto;

    overflow: hidden;
  }
  h2 {
    color: #f7cec5;
    font-size: 17px;
  }
  p {
    padding: 20px 0;
  }
}
.landing-img {
  padding-right: 0 !important ;
}

.arrow {
  position: fixed;
  bottom: 2px;
  :hover {
    animation: colorChange 1s;
    transition: all 0.5s ease-in-out;
    padding-bottom: 25px;
  }
}

@keyframes colorChange {
  0% {
    fill: rgba(228, 182, 182, 1) 0%;
  }
  100% {
    fill: rgba(232, 200, 62, 1) 100%;
  }
}

/* buttons*/

.button-one {
  background: linear-gradient(
    90deg,
    rgba(161, 212, 193, 1) 0%,
    rgba(229, 186, 187, 1) 100%
  );
  width: 120px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 7px;
}
.button-two {
  background: linear-gradient(
    90deg,
    rgba(228, 182, 182, 1) 0%,
    rgba(232, 200, 62, 1) 100%
  );
  width: 120px !important;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 7px;
}

.about-img {
  display: flex;
  justify-content: end;
  img {
    width: 30%;
  }
}
.about-text {
  p {
    width: 70%;
  }
}
.project {
  :hover {
    cursor: pointer;
  }
}
.projects {
  padding: 200px 0;
  display: grid;
  grid-template-columns: repeat(4, 239px);
  grid-template-rows: repeat(3, auto);
  grid-gap: 0px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.one {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.two {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.three {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
.four {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
.five {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
.six {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}
